h2 span {
    font-style: italic;
}

button {
    all: unset;
    border-radius: 50px;
    background-color: #1DB954;
    height: 20px;
    width: 150px;
    margin: 16px 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
}

input {
    display: none;
}

button:hover {
    box-shadow: inset 0 100px 100px rgb(255, 255, 255, 0.25);
}

button span {
    font-weight: bold;
}

.main-container {
    display: flex;
    margin-top: 100px;
}

.text-container {
    max-width: 500px;
}

.picker-container {
    margin-top: auto;
}