h2 span {
    font-style: italic;
}

input {
    display: none;
}

.main-container {
    display: flex;
    margin-top: 100px;
}

.text-container {
    max-width: 500px;
}

.picker-container {
    margin-top: auto;
}